/* font-family: 'Shadows Into Light', cursive;
font-family: 'Short Stack', cursive;
font-family: 'Walter Turncoat', cursive; */
body {
    background-color: grey;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    border: 1px black solid;
    outline: 2px aqua solid;
    font-size: 1rem;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px black;
    align-content: center;
}
/* NAVIGATION BAR AT THE TOP OF THE PAGE */
.topnav {
    width: 85%;
    height: auto;
    background-color: black;
    overflow: hidden;
    display: inline-block;
    border: 1px aqua solid;
    outline: 1px black solid;
    text-align: center;
    font-size: 1rem;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-left: 2%;
    margin-right: 2%;
    column-count: 4;
    column-width: auto;
    column-gap: 50px;
    position: fixed;
}
/* Style the links inside the navigation bar */
.topnav a {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    color: aqua;
    font-family: 'Walter Turncoat', cursive;
    text-decoration: none;
    font-size: 1rem;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: aqua;
    color: black;
}
/* Add a color to the active/current link
.topnav a.active {
    background-color: aqua;
    color: black;
} */
/* END OF NAVBAR SECTION */

/* DIV ROW 2  IMAGES AND TITLE BOX */
#myMirrorStoreHeader {
    width: 25%;
    height: 10%;
    margin-top: 55px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}
/* TEXT:  "MY MIRROR STORE" */
h1 {
    width: 80%;
    height: auto;
    margin-left: 7%;
    margin-right: 13%;
    margin-top: 50px;
    margin-bottom: 15px;
    background-color: black;
    color: aqua;
    font-size: 1rem;
    text-align: center;
    padding: 25px;
    font-family: 'Walter Turncoat', cursive;
    border: 1px aqua solid;
    outline: 2px black solid;
}
/* ALL PARAGRAPH'S GENERIC FORMATTING */
p {
    color: aqua;
    font-size: 1rem;
    text-align: center;
    margin-top: 16px;
    font-family: 'Walter Turncoat', cursive;
    margin-bottom: 25px;
    padding: 5px;
}
#leftSideLogo {
    width: 60%;
    height: auto;
    z-index: 1;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 120px;
    position: relative;
} 
#rightSideLogo {
    width: 60%;
    height: auto;
    z-index: 1;
    float: right;
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 118px;
    position: relative;
}
/* HOME | PRODUCTS | MY CART */
#table {
    font-size: 1rem;
    text-align: center;
    vertical-align: auto;
    text-decoration: none;
    height: 9px;
    padding: 5px;
}

/* !!CAREFUL....THIS IS THE MIRROR BELOW THE 
LANDING PAGE */

/* AIR FORCE MIRROR AT TOP OF LANDING PAGE */
#dreamcatcher1 {
    width: 10%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
}
/* MIRROR IN PRODUCT BOX */
#dreamcatcher2 {
    width: 60%;
    height: auto;
}
#lakers {
    width: 80%;
    height: auto;
}
#ghost {
    width: 67%;
    height: auto;
}
#cat {
    width: 67%;
    height: auto;
}
#bat {
    width: 60%;
    height: auto;
}
#pumpkin {
    width: 67%;
    height: auto;
}
#military {
    width: 67%;
    height: auto;
}
#oregon {
    width: 67%;
    height: auto;
}

/* FIRST MAIN PRODUCTS BOX */
#landingTable1 {
    width: 90%;
    height: auto; 
    color: aqua;
    border: 1px aqua solid;
    outline: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: black;  
    font-family: 'Walter Turncoat', cursive;
    text-align: center;
    padding: 10px;
}
/*  PRODUCT INFO BOX  */
#productInfoBox {
    width: 6%;
    height: 30px;
    font-size: 0.8rem;
    border: 1px black solid;
    outline: 1px aqua solid;
    background-color: grey;
    padding: 10px;
    color: black;
    text-shadow: 1px 1px 1px aqua;
    margin-top: 5px;
}
/* FIRST PRODUCTS PAGE    FIRST SECTION OF MIRRORS */
#landingTable2, #landingTable3 {
    color: aqua;
    border: 1px aqua solid;
    outline: 2px black solid;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size: 1rem;
    background-color: black;  
    font-family: 'Walter Turncoat', cursive;
    line-height: 90px;  
    text-align: center;
    padding: 20px;
}
/* BOXES IN TABLE:   MIRROR NAME AND PRICE */
#productNameAndPrice {
    color: aqua;
    border: 0.2px aqua solid;
    outline: 3px grey solid;
    width: 20%;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    font-size: .8rem;
    padding: 5px;
}
/* TEXT: "ADD ITEM TO CART" */
#add {
    color: violet;
    font-family: 'Walter Turncoat', cursive;
    font-size: 0.9rem;
    text-align: center;
}
/* TEXT:     "ADD ITEM TO CART" */
#addItemToCart {
    width: 20%;
    height: 50%;
    font-size: 1.3rem;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border: 1px black solid;
    outline: 1px aqua solid;
    margin-right: 1%;
    margin-left: 1%;
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
/* EMPTY ITEM COUNT BOX */
#itemCountBox {
    width: 16%;
    height: 35px;
    font-size: 0.8rem;
    background-color: lightgray;
    color: black;
    border: 1px black solid;
    outline: 1px aqua solid;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 24px;
    padding: 4px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
/* DELETE ITEM FROM CART BUTTON */
#subtractItemFromCart {
    width: 20%;
    height: 50%;
    font-size: 1.3rem;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border: 1px black solid;
    outline: 1px aqua solid;
    margin-right: 1%;
    margin-left: 1%;
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

