/* font-family: 'Shadows Into Light', cursive;
font-family: 'Short Stack', cursive;
font-family: 'Walter Turncoat', cursive; */
body {
    background-color: grey;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    border: 1px black solid;
    outline: 2px aqua solid;
    font-size: 1rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;
    align-content: center;
}
#SubmitButton {
    width: 20%;
    height: 60px;
    font-size: 1rem;
    background-color: black;
    color: aqua;
    border: 1px black solid;
    outline: 2px aqua solid;
    margin-right: 40%;
    margin-left: 40%;
    padding: 15px;
}
/* NAVIGATION BAR AT THE TOP OF THE PAGE */
.topnav {
    width: 80%;
    height: auto;
    background-color: black;
    overflow: hidden;
    display: inline-block;
    border: 1px aqua solid;
    outline: 1px black solid;
    text-align: center;
    font-size: 1.3rem;
    padding-left: 70px;
    padding-right: 0px;
    margin-left: 100px;
    margin-right:100px;
    margin-top: 5px;
    margin-bottom: 20px;
    column-width: 200px;
    column-gap: 100px;
    text-align: center;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: aqua;
    font-family: 'Walter Turncoat', cursive;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3rem;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: aqua;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: aqua;
    color: black;
}
#myMirrorStoreHeader {
    width: 20%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;
}
h1 {
    width: 60%;
    height: auto;
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: black;
    color: aqua;
    font-size: 1.5rem;
    text-align: center;
    padding: 25px;
    font-family: 'Walter Turncoat', cursive;
    text-shadow: 2px 2px 2px violet;
    border: 1px aqua solid;
    outline: 2px black solid;
}
p {
    color: aqua;
    font-size: 2rem;
    text-align: center;
    margin-top: 25px;
    font-family: 'Walter Turncoat', cursive;
    margin-bottom: 25px;
}
#leftSideLogo {
    width: 40%;
    height: auto;
    z-index: 1;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 45px;
    position: relative;
} 
#rightSideLogo {
    width: 40%;
    height: auto;
    z-index: 1;
    float: right;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 45px;
    position: relative;
}
/* !!CAREFUL....THIS MIRROR BELOW LANDING PAGE */
/* AIR FORCE MIRROR AT TOP OF LANDING PAGE */
#dreamcatcher1 {
    width: 10%;
    height: auto;
}
/* MIRROR IN DETAILS PAGE */
#dreamcatcher2 {
    width: 80%;
    height: auto;
}
#lakers {
    width: 80%;
    height: auto;
}
#ghost {
    width: 80%;
    height: auto;
}
#cat {
    width: 80%;
    height: auto;
}
#bat {
    width: 80%;
    height: auto;
}
#landingTable {
    width: 90%;
    height: auto; 
    color: aqua;
    border: 1px aqua solid;
    outline: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: black;  
    font-family: 'Walter Turncoat', cursive;
    text-align: center;
    padding: 20px;
}
/* LANDING TABLE HEADER */
#table {
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
}
#landingTable2 {
    color: aqua;
    border: 1px aqua solid;
    outline: 2px black solid;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: black;  
    font-family: 'Walter Turncoat', cursive;
    line-height: 150px;
    text-align: center;
    padding: 20px;
}
#landingTable3 {
    color: aqua;
    border: 1px aqua solid;
    outline: 2px black solid;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: black;  
    font-family: 'Walter Turncoat', cursive;
    line-height: 150px;
    text-align: center;
    padding: 20px;
}